
.navbar {
    background-color: #3d3d58;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  .navbar img{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(55, 194, 27);
    border-radius: 50%;
    background-color: aliceblue;
  }
  .nav-logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .nav-links li a:hover {
    color: rgb(114, 190, 104);
  }
  
  
  .nav-links li:nth-last-child(1) a:hover {
    color: red;
  }