.tablets-Card {
    padding: 20px;
    
  }
  .tablet-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tablet-card {
    
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tablet-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .tablet-card-content {
    padding: 15px;
    
  }
  
  .tablet-card h2 {
    margin-top: 0;
  }
  
  .tablet-card-details p {
    text-align: left;
    
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .tablet-card {
      width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .tablet-card {
      width: 100%;
    }
  }
  