.login-container {
    margin: 50px auto;
    text-align: center;
    align-items: center;
     width: 300px;
    height: 400px;
    padding: 20px;
    border: 1px solid #1cd61c;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container form input
  {
    width: 250px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container form button:hover {
    background-color: #25a730;
  }
  